body {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0 10px;
}

.home {
  width: 100%;
  height: 300vh;
  text-align: center;

  .text-container1 {
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 150px;
    }
    p {
      font-size: 30px;
      line-height: 50px;
      line-break: anywhere;
      color: gray;
    }
  }

  .text-container2 {
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 150px;
    }
    p {
      font-size: 30px;
      line-height: 50px;
      color: gray;
      line-break: auto;
    }
  }
}   